
/* Add your CSS styles */
.logo-slider-container {
    width: 100%; /* Or a specific width */
    padding: 20px; /* Add some padding */
  }
  
  .logo-slide {
      display: flex;
      justify-content: center; /* Horizontally center the image */
      align-items: center; /* Vertically center the image */
  }
  
  .logo-slide img {
    max-width: 100%; /* Ensure images fit within the slide */
    height: auto;
    display: block; /* Prevents extra space below image */
  }
  
  .logo-container-desktop{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
  }
  .desktop-logo{
      max-width: 150px;
      height: auto;
  }
  
  
  .logo-slider-container {
    width: 100%; /* Ensures it takes up the full width */
    overflow: hidden; /* Prevents content from overflowing */
    position: relative; /* Ensures child elements are positioned correctly */
   padding-top: 20px;
    box-sizing: border-box; /* Ensures padding does not affect width */
  }
  
  .logo-slide img {
    max-width: 100%; /* Ensures images fit within the slide */
    height: auto;
    display: block;
  }