span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: black;
}

/* Custom pagination container */
.custom-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Pagination bullets */
.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  /* background-color: lightgray; */
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover effect for bullets */
.custom-pagination .swiper-pagination-bullet:hover {
  background-color: #ccc;
  transform: scale(1.1);
}

/* Active bullet styles */
.custom-pagination .swiper-pagination-bullet-active {
  background-color: black;
  position: relative;
}

/* Active bullet's outer circle */
.custom-pagination .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: -4px; /* Adjust based on alignment */
  left: -4px; /* Adjust based on alignment */
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: -1;
}
